<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    crossorigin="anonymous">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel="stylesheet" href="/hebishima/css/main.css">
  <title>
    観戦ガイド｜ホーム
  </title>
</head>

<body class="container">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="/forBeginners"><img class="navbar-brand" src="/hebishima/img/logo.png" width="90px"
          height="40px"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/forBeginners/account">アカウント</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/forBeginners/calender">日程表</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/forBeginners/guide/guideHome">観戦ガイド</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

<h1 class="mt-3">観戦ガイド</h1>


  <hr>
  <div class="container contentnav">
    <div class="row">
      <div class="col-md-4 articlewidth order-1"><img src="/hebishima/img/ticket.jpg"
          class="img-fluid articleimage d-block mx-auto">
      </div>
      <div class="col-md-8 articlewidth contenttext order-2">
        <a href="/forBeginners/guide/ticket" class="astyle">
          <h1 class="text-center">チケット購入ガイド</h1>
        </a>
        <p class="text-center">
          チケットの購入方法を確認できます。
        </p>
        <a href="/forBeginners/guide/ticket">
          <p class="text-center pr-4">
            read more >>
          </p>
        </a>
      </div>
    </div>
    <hr>

    <div class="row">
      <div class="col-md-4 articlewidth order-md-2"><img src="/hebishima/img/swallows1.jpg"
          class="img-fluid articleimage d-block mx-auto">
      </div>
      <div class="col-md-8 articlewidth contenttext order-md-1">
        <a href="/forBeginners/guide/swallows" class="astyle">
          <h1 class="text-center">神宮球場</h1>
        </a>
        <p class="text-center">
          神宮球場の情報を確認できます。
        </p>
        <a href="/forBeginners/guide/swallows">
          <p class="text-center pr-4">
            read more >>
          </p>
        </a>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-4 articlewidth order-1"><img src="/hebishima/img/baystars1.jpg"
          class="img-fluid articleimage d-block mx-auto">
      </div>
      <div class="col-md-8 articlewidth contenttext order-2">
        <a href="/forBeginners/guide/baystars" class="astyle">
          <h1 class="text-center">横浜スタジアム</h1>
        </a>
        <p class="text-center">
          横浜スタジアムの情報を確認できます。
        </p>
        <a href="/forBeginners/guide/baystars">
          <p class="text-center pr-4">
            read more >>
          </p>
        </a>
      </div>
    </div>
    <hr>

    <div class="row">
      <div class="col-md-4 articlewidth order-md-2"><img src="/hebishima/img/tigers1.jpg"
          class="img-fluid articleimage d-block mx-auto">
      </div>
      <div class="col-md-8 articlewidth contenttext order-md-1">
        <a href="/forBeginners/guide/tigers" class="astyle">
          <h1 class="text-center">甲子園球場</h1>
        </a>
        <p class="text-center">
          甲子園球場の情報を確認できます。
        </p>
        <a href="/forBeginners/guide/tigers">
          <p class="text-center pr-4">
            read more >>
          </p>
        </a>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-4 articlewidth order-1"><img src="/hebishima/img/giants1.jpg"
          class="img-fluid articleimage d-block mx-auto">
      </div>
      <div class="col-md-8 articlewidth contenttext order-2">
        <a href="/forBeginners/guide/giants" class="astyle">
          <h1 class="text-center">東京ドーム</h1>
        </a>
        <p class="text-center">
          東京ドームの情報を確認できます。
        </p>
        <a href="/forBeginners/guide/giants">
          <p class="text-center pr-4">
            read more >>
          </p>
        </a>
      </div>
    </div>
    <hr>

    <div class="row">
      <div class="col-md-4 articlewidth order-md-2"><img src="/hebishima/img/carp1.jpg"
          class="img-fluid articleimage d-block mx-auto">
      </div>
      <div class="col-md-8 articlewidth contenttext order-md-1">
        <a href="/forBeginners/guide/carp" class="astyle">
          <h1 class="text-center">MAZDA Zoom-Zoom スタジアム広島</h1>
        </a>
        <p class="text-center">
          MAZDA Zoom-Zoom スタジアム広島の情報を確認できます。
        </p>
        <a href="/forBeginners/guide/carp">
          <p class="text-center pr-4">
            read more >>
          </p>
        </a>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-4 articlewidth order-1"><img src="/hebishima/img/dragons1.jpg"
          class="img-fluid articleimage d-block mx-auto">
      </div>
      <div class="col-md-8 articlewidth contenttext order-2">
        <a href="/forBeginners/guide/dragons" class="astyle">
          <h1 class="text-center">バンテリンドームナゴヤ</h1>
        </a>
        <p class="text-center">
          バンテリンドームナゴヤの情報を確認できます。
        </p>
        <a href="/forBeginners/guide/dragons">
          <p class="text-center pr-4">
            read more >>
          </p>
        </a>
      </div>
    </div>
    <hr>

    <div class="row">
      <div class="col-md-4 articlewidth order-md-2"><img src="/hebishima/img/buffaloes1.jpg"
          class="img-fluid articleimage d-block mx-auto">
      </div>
      <div class="col-md-8 articlewidth contenttext order-md-1">
        <a href="/forBeginners/guide/buffaloes" class="astyle">
          <h1 class="text-center">京セラドーム大阪</h1>
        </a>
        <p class="text-center">
          京セラドーム大阪の情報を確認できます。
        </p>
        <a href="/forBeginners/guide/buffaloes">
          <p class="text-center pr-4">
            read more >>
          </p>
        </a>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-4 articlewidth order-1"><img src="/hebishima/img/hawks1.jpg"
          class="img-fluid articleimage d-block mx-auto">
      </div>
      <div class="col-md-8 articlewidth contenttext order-2">
        <a href="/forBeginners/guide/hawks" class="astyle">
          <h1 class="text-center">福岡PayPayドーム</h1>
        </a>
        <p class="text-center">
          福岡PayPayドームの情報を確認できます。
        </p>
        <a href="/forBeginners/guide/hawks">
          <p class="text-center pr-4">
            read more >>
          </p>
        </a>
      </div>
    </div>
    <hr>

    <div class="row">
      <div class="col-md-4 articlewidth order-md-2"><img src="/hebishima/img/lions1.jpg"
          class="img-fluid articleimage d-block mx-auto">
      </div>
      <div class="col-md-8 articlewidth contenttext order-md-1">
        <a href="/forBeginners/guide/lions" class="astyle">
          <h1 class="text-center">ベルーナドーム</h1>
        </a>
        <p class="text-center">
          ベルーナドームの情報を確認できます。
        </p>
        <a href="/forBeginners/guide/lions">
          <p class="text-center pr-4">
            read more >>
          </p>
        </a>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-4 articlewidth order-1"><img src="/hebishima/img/eagles1.jpg"
          class="img-fluid articleimage d-block mx-auto">
      </div>
      <div class="col-md-8 articlewidth contenttext order-2">
        <a href="/forBeginners/guide/eagles" class="astyle">
          <h1 class="text-center">楽天モバイルパーク宮城</h1>
        </a>
        <p class="text-center">
          楽天モバイルパーク宮城の情報を確認できます。
        </p>
        <a href="/forBeginners/guide/eagles">
          <p class="text-center pr-4">
            read more >>
          </p>
        </a>
      </div>
    </div>
    <hr>

    <div class="row">
      <div class="col-md-4 articlewidth order-md-2"><img src="/hebishima/img/marines1.jpg"
          class="img-fluid articleimage d-block mx-auto">
      </div>
      <div class="col-md-8 articlewidth contenttext order-md-1">
        <a href="/forBeginners/guide/marines" class="astyle">
          <h1 class="text-center">ZOZOマリンスタジアム</h1>
        </a>
        <p class="text-center">
          ZOZOマリンスタジアムの情報を確認できます。
        </p>
        <a href="/forBeginners/guide/marines">
          <p class="text-center pr-4">
            read more >>
          </p>
        </a>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-4 articlewidth order-1"><img src="/hebishima/img/fighters1.jpg"
          class="img-fluid articleimage d-block mx-auto">
      </div>
      <div class="col-md-8 articlewidth contenttext order-2">
        <a href="/forBeginners/guide/fighters" class="astyle">
          <h1 class="text-center">エスコンフィールドHOKKAIDO</h1>
        </a>
        <p class="text-center">
          エスコンフィールドHOKKAIDOの情報を確認できます。
        </p>
        <a href="/forBeginners/guide/fighters">
          <p class="text-center pr-4">
            read more >>
          </p>
        </a>
      </div>
    </div>
    <hr>

  </div>

  <footer>
    <p class="copyright">&copy;BaseballNavi</p>
  </footer>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
</body>

</html>