<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    crossorigin="anonymous">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel="stylesheet" href="/hebishima/css/main.css">
  <title>
    神宮球場
  </title>
</head>

<body class="container">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="/forBeginners"><img class="navbar-brand" src="/hebishima/img/logo.png" width="90px"
          height="40px"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/forBeginners/account">アカウント</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/forBeginners/calender">日程表</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/forBeginners/guide/guideHome">観戦ガイド</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/forBeginners">ホーム</a></li>
      <li class="breadcrumb-item"><a href="/forBeginners/guide/guideHome">観戦ガイド</a></li>
      <li class="breadcrumb-item active" aria-current="page">神宮球場</li>
    </ol>
  </nav>

  <article>
    <h1>初心者でも大丈夫！明治神宮野球場の魅力と楽しみ方</h1>

    <div class="container my-3">
      <img src="/hebishima/img/swallows1.jpg" class="img-fluid d-block mx-auto w-75 img-thumbnail">
    </div>

    <div class="accordion mb-3" id="accordionPanelsStayOpenExample">
      <div class="accordion-item">
        <h2 class="accordion-header" id="panelsStayOpen-headingOne">
          <button class="accordion-button" type="button" data-bs-toggle="collapse"
            data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true"
            aria-controls="panelsStayOpen-collapseOne">
            目次
          </button>
        </h2>
        <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show"
          aria-labelledby="panelsStayOpen-headingOne">
          <div class="accordion-body">
            <ol>
              <a href="#t1" class="mokuzi">
                <li>明治神宮野球場とは？</li>
              </a>
              <a href="#t2" class="mokuzi">
                <li>アクセス方法</li>
              </a>
              <a href="#t3" class="mokuzi">
                <li>座席の種類と特徴</li>
              </a>
              <a href="#t4" class="mokuzi">
                <li>球場の雰囲気</li>
              </a>
              <a href="#t5" class="mokuzi">
                <li>チケットの購入方法</li>
              </a>
              <a href="#t6" class="mokuzi">
                <li>球場グルメを楽しもう！</li>
              </a>
              <a href="#t7" class="mokuzi">
                <li>試合前後の楽しみ方</li>
              </a>
            </ol>
          </div>
        </div>
      </div>
    </div>

    <h2 class="title" id="t1">1. 明治神宮野球場とは？</h2>

    <p>明治神宮野球場は、東京都新宿区に位置する東京ヤクルトスワローズのホームスタジアムです。都心に位置しながらも緑豊かな神宮外苑の中にあり、観戦の前後に散策を楽しむことができます。</p>

    <h2 class="title" id="t2">2. アクセス方法</h2>

    <p>最寄りの駅はJR中央・総武緩行線「新宿駅」で、駅からは徒歩約10分です。また、東京メトロ副都心線「北参道駅」からも徒歩約5分でアクセスできます。</p>
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3241.100182366927!2d139.7144946097644!3d35.674535130230176!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60188c9a1923f3f5%3A0xf8fe5cab0f97a8d8!2z5piO5rK756We5a6u6YeO55CD5aC0!5e0!3m2!1sja!2sjp!4v1685344397352!5m2!1sja!2sjp"
      style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"
      class="mb-3 d-block mx-auto map"></iframe>

    <h2 class="title" id="t3">3. 座席の種類と特徴</h2>

    <p>内野席： 指定席で、ピッチャーやバッターの動きを間近で見ることができます。特にベンチ裏の席は人気が高いです。</p>
    <p>外野席： 自由席で、ホームランが飛び込む可能性もあるため、迫力満点です。特にスワローズの応援団が集まるエリアでは、一体感のある応援を楽しむことができます。</p>

    <h2 class="t4 title" id="t4">4. 球場の雰囲気</h2>

    <p>スワローズのホームランが出ると、観客が傘を差す「傘振り」が行われ、独特の雰囲気を楽しむことができます。</p>

    <h2 class="t5 title" id="t5">5. チケットの購入方法</h2>

    <p>公式ウェブサイト、チケット販売サイト、コンビニエンスストアなどで購入可能です。スワローズのホームゲームは人気が高いため、早めの購入がおすすめです。</p>

    <h2 class="t6 title" id="t6">6. 球場グルメを楽しもう！</h2>

    <p>スタジアムでは、「ヤクルトレディ」が売っているホットドッグやビールが人気です。また、「鳥つかん」の焼鳥も見逃せません。</p>

    <h2 class="t7 title" id="t7">7. 試合前後の楽しみ方</h2>

    <p>球場周辺には、カフェやレストランが充実しており、試合前後に食事を楽しむことができます。また、球場内にはスワローズの歴史を紹介する「ヤクルトスワローズヒストリー」もあります。</p>

    <p>これであなたも神宮球マスター！球場での楽しい一日を過ごすための情報を手に入れました。準備はできましたか？それでは、素晴らしい試合観戦を楽しんでくださいね！</p>

    <div class="timeline d-block mx-auto">
      <a class="twitter-timeline" data-height="400" data-width="300"
        href="https://twitter.com/swallowspr?ref_src=twsrc%5Etfw">Tweets by swallowspr</a>
      <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>

  </article>

  <footer>
    <p class="copyright">&copy;BaseballNavi</p>
  </footer>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
</body>

</html>