<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title>
    </title>
</head>
<div class="p-3 mb-2 bg-dark text-white">
    <h3>広島東洋カープ</h3>
    <h5><%- year%>年度 選手一覧</h5>
</div>
<br>
<h5><a href="./pithirosima">・個人投手成績</a>　<a href="./bathirosima">・個人打撃成績</a></h5>
<div class="p-3 mb-2 bg-success text-white">
    <h5>・支配下登録選手</h5>
</div>
<table class="table">
    <%- content%>
</table>
<div class="p-3 mb-2 bg-info text-white">
    <h5>・育成選手</h5>
</div>
<table class="table">
    <%- content2%>
</table>

<br>
<div class="text-center">
    <a href="../baseball"><button type="button" class="btn btn-outline-primary btn-lg" id="top">TOP</button></a>
    <a href="./seiseki"><button type="button" class="btn btn-outline-primary btn-lg" id="back">球団選択へ</button></a>
</div>
<div role="main">
    <table class="table">
    </table>

</div>
</body>

</html>

<script>
    const t = document.getElementById('top');
t.addEventListener('click', () => {
t.innerHTML = '<div class=spinner-border text-primary role"status"></div>';
})
const  b= document.getElementById('back');
b.addEventListener('click', () => {
b.innerHTML = '<div class=spinner-border text-primary role"status"></div>';
})
</script>