<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title>
    </title>
</head>

<body class="container">
    <header>
        <div class="p-3 mb-2 bg-dark text-white">
            <h1 class="display-4">
                <%- year%>年度選手一覧
            </h1>
        </div>
    </header>
    <hr>
    <div class="text-center">
        <div class="btn-group-vertical">
            <div class="text-center">
                <h6 class="p-3 mb-2 bg-success text-white">セントラル・リーグ</h6>
            </div>
            <div class="btn btn-outline-success"><a href="./yakuruto">東京ヤクルトスワローズ</a></div>
            <div class="btn btn-outline-success"><a href="./yokohama">横浜DeNAベイスターズ</a></div>
            <div class="btn btn-outline-success"><a href="./hanshin">阪神タイガース</a></div>
            <div class="btn btn-outline-success"><a href="./kyozin">読売ジャイアンツ</a></div>
            <div class="btn btn-outline-success"><a href="./hirosima">広島東洋カープ</a></div>
            <div class="btn btn-outline-success"><a href="./tyuniti">中日ドラゴンズ</a></div>
        </div>

        <div class="btn-group-vertical">
            <div class="text-center">
                <h6 class="p-3 mb-2 bg-info text-white">パシフィック・リーグ</h6>
            </div>
            <div class="btn btn-outline-info"><a href="./orix">オリックス・バファローズ</a></div>
            <div class="btn btn-outline-info"><a href="./softbank">福岡ソフトバンクホークス</a></div>
            <div class="btn btn-outline-info"><a href="./seibu">埼玉西武ライオンズ</a></div>
            <div class="btn btn-outline-info"><a href="./rakuten">東北楽天ゴールデンイーグルス</a></div>
            <div class="btn btn-outline-info"><a href="./lotte">千葉ロッテマリーンズ</a></div>
            <div class="btn btn-outline-info"><a href="./hokkaido">北海道日本ハムファイターズ</a></div>
        </div>
    </div>

    <br>
    <div class="text-center">
        <a href="../baseball"><button type="button" class="btn btn-outline-primary btn-lg">戻る</button></a>
    </div>
    <div role="main">
        <table class="table">
        </table>

    </div>
</body>

</html>