<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title>
    </title>
</head>

<body class="container">
    <header>
        <div class="p-3 mb-2 bg-dark text-white">
            <h1 class="display-4">
                <%- year%>年度選手一覧
            </h1>
        </div>
    </header>
    <hr>
    <div class="text-center">
        <div class="btn-group-vertical">
            <div class="text-center">
                <h6 class="p-3 mb-2 bg-success text-white">セントラル・リーグ</h6>
            </div>
            <a href="#" class="btn btn-outline-success">東京ヤクルトスワローズ</a>
            <a href="#" class="btn btn-outline-success">横浜DeNAベイスターズ</a>
            <div  class="btn btn-outline-success">
                <a href="./hanshin">阪神タイガース</a>
            </div>
            <a href="#" class="btn btn-outline-success">読売ジャイアンツ</a>
            <a href="#" class="btn btn-outline-success">広島東洋カープ</a>
            <a href="#" class="btn btn-outline-success">中日ドラゴンズ</a>
        </div>

        <div class="btn-group-vertical">
            <div class="text-center">
                <h6 class="p-3 mb-2 bg-info text-white">パシフィック・リーグ</h6>
            </div>
            <a href="#" class="btn btn-outline-info">オリックスバファローズ</a>
            <a href="#" class="btn btn-outline-info">福岡ソフトバンクホークス</a>
            <a href="#" class="btn btn-outline-info">埼玉西武ライオンズ</a>
            <a href="#" class="btn btn-outline-info">東北楽天ゴールデンイーグルス</a>
            <a href="#" class="btn btn-outline-info">千葉ロッテマリーンズ</a>
            <a href="#" class="btn btn-outline-info">北海道日本ハムファイターズ</a>
        </div>
    </div>

    <br>
    <div class="text-center">
        <a href="../baseball"><button type="button" class="btn btn-outline-primary btn-lg">戻る</button></a>
    </div>
    <div role="main">
        <table class="table">
        </table>

    </div>
</body>

</html>