@charset "utf-8";

body {
  margin: 0;
  padding: 0;
}

.jumbotron {
  background-image: url("../img/top.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 0;
  border-radius: 0%;
}

.top {
  font-family: 'Noto Sans JP', sans-serif;
  font-family: 'Rampart One', cursive;
  font-family: 'Yuji Syuku', serif;
  writing-mode: vertical-rl;
  font-size: 4rem;
  display: table-cell;
  vertical-align: middle;
  filter: drop-shadow(1px 1px 2px #121212);
}

.toptext {
  padding: 0;
}

nav ul {
  display: flex;
  justify-content: flex-end;
  padding-top: 25px;
  padding-right: 25px;
}

nav li {
  margin-left: 30px;
  list-style: none;
}

.mokuzi {
  color: black;
  text-decoration: none;
}

.title {
  border-bottom: solid gray 1px;
  border-left: gray solid 5px;
  padding-left: 10px;
  padding-bottom: 5px;
}

.map {
  width: 100%;
  aspect-ratio: 16/9;
}

.timeline {
  width: 100%;
}

nav li a {
  color: gray;
  font-weight: bold;
  transition: all 0.3s ease;
  /* filter: drop-shadow(1px 1px 2px #121212); */
  text-decoration: none;
}

nav li a:hover {
  color: gray;
  text-decoration: none;

}

.row {
  margin: 0;
}

.copyright {
  text-align: center;
  color: white;
  padding-top: 8px;
}

footer {
  background-color: black;
  height: 30px;

}

p {
  margin: 30px 0;
}

.contenttext {
  padding-left: 30px;
}

.contentnav {
  padding: 0;
}

.example img {
  width: 100%;
  height: auto;
  display: block;
}

.articleimage {
  padding-bottom: 20px;
}

.articlewidth {
  padding: 0;
}

.a {
  margin-bottom: 16px;
}

.astyle {
  color: black;
  text-decoration: none;
}

.astyle:hover {
  color: black;
  text-decoration: none;
}