body {
  margin: 0;
  padding: 0;
}
.container {
  margin: 0 auto;
  padding: 0;
}
.row {
  margin: 0;
}
.orikaesi {
  width: 100%;
  padding: 0;
  word-wrap: break-word;
  text-align: left;
}


p {
  margin: 30px 0;
}
