body {
  margin: 0;
  padding: 0;
}

.container {
  margin: 0 auto;
  padding: 0;
}
.row {
  margin: 0;
}
.orikaesi {
  width: 100%;
  padding: 0;
  word-wrap: break-word;
  text-align: left;
}

.copyright {
  text-align: center;
  color: white;
  padding-top: 5px;
}

footer {
  background-color: black;
  height: 30px;

}

p {
  margin: 30px 0;
}


.example img{
  width: 100%;
  height: auto;
  display: block;
}

.articleimage {
  padding-bottom: 20px;
}

.articlewidth {
  padding: 0;
}

.a {
  margin-bottom: 16px;
}